/* .Routes{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
 */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}