
.cart{
    position: fixed;
    top: 20px;
    right: 45px;
    color: #9a9c9e;
}
.cart  *{
    font-size: 1.5em;
}
.navBar{
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2em;
}
.card{
    text-align: center;
    justify-content: space-between;
    height: 500px;
    width: 250px;
    padding: 5px;
    gap: 1.5em;
}

.cart-bottom-nav{
    color: #fff;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 75vw;
    padding: 20px !important;
    background-color: hsla(210, 15%, 5%, 0.3);
}