html {
  background-color: #212529;

}
#root {
  background-color: #212529;

}
.cont{
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  flex-direction: column;
  background-color: #212529;
  margin-top: 90px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cart{
  position: relative;
  z-index: 2000;
}
.cart-item{
  color: white;
}
